<div
  class="w-full flex flex-row h-auto bg-primaryLight dark:bg-primary relative z-30 justify-center"
>
  <div class="flex flex-col xl:flex-row max-w-[1200px] p-4">
    <div class="flex mx-auto w-fit xl:w-1/2 leftcol">
      <div class="gallery rounded-large overflow-hidden">
        <img
          class="aspect-square"
          src="../../../assets/erik_1.webp"
          alt="Kallbaderiks"
        />
        <img src="../../../assets/erik_2.webp" alt="Löperik" />
        <img src="../../../assets/erik_3.webp" alt="Hawaii kontorserik" />
        <img
          src="../../../assets/erik_4.webp"
          alt="Grillande trollkarlserik"
          class="aspect-square"
        />
      </div>
    </div>

    <div
      class="flex flex-col mx-auto w-fit xl:w-1/2 justify-between h-fit p-6 max-w-[600px]"
    >
      <h2
        class="text-4xl mt-0 flex text-primaryTextLight dark:text-primaryTextDark"
      >
        Om mig
      </h2>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Jag är en IT-student från Sverige som älskar programutveckling med en
        passion. Ända sedan jag som barn började använda familjedatorn har jag
        alltid funnit stor glädje i att experimentera med teknik. Min passion
        för IT började förmodligen redan vid 13 års ålder när jag började vara
        värd och modifiera spelserver för mig och mina vänner att spela på.
        Sedan dess har jag aldrig backat från någon form av IT-utmaning.
      </p>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Jag bor för nuvarande i Göteborg men är ursprungligen från Stockholm.
        Mina senaste 5 år har jag däremot spenderat i Uppsala genom att läsa
        Uppsala Universitets Civilingenjörsprogram med inriktning IT och
        Mjukvaruutveckling. Numera arbetar jag som Konsult på Sylog Väst och har
        ett uppdrag som utvecklare på Autoliv. Jag gör även en del utveckling på
        fritiden där jag delvis jobbar mot att utveckla egna IT bolag och
        hemsidor. Denna hemsida har jag exempelvis utvecklat med hjälp av
        Angular.
      </p>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Mina styrkor som person är att jag är utåtriktad och driven och mår bra
        när jag är sysselsatt. Jag tycker om att ha människor runt mig och
        finner en stor glädje i att leverera bra resultat och göra folk nöjda.
        Jag har lätt för att fråga om råd men prioriterar alltid att ta mitt
        egna ansvar vad gäller att finna svar på frågor som uppstår i mitt
        arbetsliv.
      </p>
    </div>
  </div>
</div>
