<div
  class="w-full flex flex-row h-auto bg-primaryLight dark:bg-primary relative z-30 justify-center"
>
  <div class="flex flex-col xl:flex-row max-w-[1200px] p-4">
    <div class="flex mx-auto w-fit xl:w-1/2 leftcol">
      <div class="gallery rounded-large overflow-hidden">
        <img
          class="aspect-square"
          src="../../../assets/erik_1.webp"
          alt="Kallbaderiks"
        />
        <img src="../../../assets/erik_2.webp" alt="Löperik" />
        <img src="../../../assets/erik_3.webp" alt="Hawaii kontorserik" />
        <img
          src="../../../assets/erik_4.webp"
          alt="Grillande trollkarlserik"
          class="aspect-square"
        />
      </div>
    </div>

    <div
      class="flex flex-col mx-auto w-fit xl:w-1/2 justify-between h-fit p-6 max-w-[600px]"
    >
      <h2
        class="text-4xl mt-0 flex text-primaryTextLight dark:text-primaryTextDark"
      >
        Om mig
      </h2>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
        necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis
        repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam
        culpa, repellendus esse commodi deserunt.
      </p>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
        necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis
        repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam
        culpa, repellendus esse commodi deserunt.
      </p>
      <p class="flex text-secondaryTextLight dark:text-primaryTextDark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
        necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis
        repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam
        culpa, repellendus esse commodi deserunt.
      </p>
    </div>
  </div>
</div>
