<div
  class="w-full bg-gradient-to-t to-primaryLight from-tertiaryLight dark:to-primary dark:from-black h-[30vh] z-10 relative bottom-0 pt-12"
>
  <button
    (click)="scrollToSection('hero')"
    class="flex m-auto w-24 h-24 scroll-up-button cursor-pointer"
  ></button>
  <div class="w-full justify-center flex">
    <h3 class="custom">
      <span class="text-primaryTextLight dark:text-primaryText"
        >Till toppen</span
      >
    </h3>
  </div>
  <div
    class="w-full justify-center flex text-primaryTextLight dark:text-primaryText"
  >
    © Erik Junghahn 2023-2024 Göteborg
  </div>
</div>
