<div
  class="h-[90vh] min-h-[650px] max-h-[1000px] flex mx-auto overflow-hidden hero-gradient -mt-16"
>
  <!-- <button (click)="onToggleColorModeClick()">
    <p>Toggle color mode</p>
  </button> -->
  <div
    class="hero-container w-full h-full flex flex-col xl:flex-row m-auto justify-evenly"
  >
    <div class="flex flex-col h-full px-8 w-full xl:w-1/2 justify-center">
      <div>
        <p
          class="text-3xl text-secondaryTextLight dark:text-secondaryText font-semibold py-0 my-0"
        >
          Hej, Jag heter Erik
        </p>
        <div class="w-full flex max-h-32">
          <app-about></app-about>
        </div>
      </div>
      <div class="flex mt-20 xl:mt-16">
        <app-ej-button
          [text]="'Kontakta mig'"
          [click]="scrollToContact"
        ></app-ej-button>
      </div>
    </div>
    <div class="flex w-full xl:w-1/2 h-[30%] xl:h-full">
      <div class="h-full w-full flex justify-center items-end xl:justify-end">
        <div
          class="absolute items-end justify-end z-10 rounded-full profile-pic"
        >
          <div
            class="absolute justify-end items-end flex z-20 w-full h-full -bottom-20 rounded-full"
          >
            <div class="circle-content circle"></div>
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
          </div>

          <div
            class="absolute justify-end items-end flex z-20 w-full h-full profile-pic"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
