.profile-pic {
  background-image: url("../../../assets/linkedin.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.circle-wrapper {
  position: absolute;
  width: 700px;
  height: 700px;
  float: left;
  margin: 10px;
  z-index: 1;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 2.5px;
  animation: spin 90s linear infinite;
  border-radius: 1000px;
}

.circle-wrapper:active .circle {
  animation: spin 20s linear infinite;
}

.circle-content {
  background: theme("colors.secondary");
  box-shadow: 0 0 5px theme("colors.secondary"),
    0 0 15px theme("colors.secondary"), 0 0 30px theme("colors.secondary"),
    0 0 60px theme("colors.secondary");
  animation: pulsate 3s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 5px theme("colors.secondary"),
      0 0 15px theme("colors.secondary"), 0 0 30px theme("colors.secondary"),
      0 0 60px theme("colors.secondary");
  }
  50% {
    box-shadow: 0 0 10px theme("colors.secondary"),
      0 0 45px theme("colors.secondary"), 0 0 40px theme("colors.secondary"),
      0 0 80px theme("colors.secondary");
  }
  100% {
    box-shadow: 0 0 5px theme("colors.secondary"),
      0 0 15px theme("colors.secondary"), 0 0 30px theme("colors.secondary"),
      0 0 60px theme("colors.secondary");
  }
}
.profile-pic {
  height: 900px;
  width: 900px;
  max-height: 80vh;
  max-width: 80vh;
}
.hero-container {
  max-width: 1600px;
}

@media screen and (max-width: 1920px) {
  .profile-pic {
    height: 900px;
    width: 900px;
  }
  .hero-container {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1620px) {
  .profile-pic {
    height: 700px;
    width: 700px;
  }
  .hero-container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1280px) {
  .profile-pic {
    height: 300px;
    width: 300px;
  }
  .hero-container {
    max-width: 95vw;
  }
}
@media screen and (max-width: 1000px) {
  .profile-pic {
    height: 300px;
    width: 300px;
  }
  .hero-container {
    max-width: 95vw;
  }
}
