<div class="w-full relative overflow-x-scroll scrollbar-hide -mt-[2em]">
  <a
    class="sticky top-[50%] z-10 cursor-pointer carousel__prev block"
    (click)="scrollToSection(-1)"
  >
  </a>
  <a
    class="sticky top-[50%] z-10 left-[90%] cursor-pointer carousel__next block"
    (click)="scrollToSection(1)"
  >
  </a>
  <div class="w-[400vw] flex flex-row">
    <div
      #carousel
      class="w-full"
      *ngFor="let project of projects; let i = index"
      [id]="'projectContainer' + i"
    >
      <div
        class="w-full h-[90vh] min-h-[700px] justify-center items-center mx-auto overflow-y-hidden"
      >
        <section class="product">
          <div
            class="w-full py-2 px-4 justify-center items-center flex flex-col"
          >
            <h3 class="custom">
              <span>{{ project.title }}</span>
            </h3>
            <h4>{{ project.subtitle }}</h4>
          </div>
          <div class="product__photo">
            <div class="photo-container">
              <div class="photo-main" [id]="'photoContainer' + i">
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 1"
                  class="image-primary"
                  appInViewport
                />
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 2"
                  class="image-secondary"
                  appInViewport
                />
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 3"
                  class="image-tertiary"
                  appInViewport
                />
              </div>
            </div>
          </div>
          <div class="w-full h-[30%]">
            <p class="px-8 pt-8 max-w-[700px] mx-auto">{{ project.body }}</p>
          </div>
          <app-ej-button [text]="project.btnText"></app-ej-button>
        </section>
      </div>
    </div>
  </div>
</div>
