<div
  class="w-screen"
  *ngFor="let project of projects; let i = index"
  [id]="'projectContainer' + i"
>
  <div class="w-[50vw] justify-center items-center mx-auto pb-12">
    <section class="product">
      <div class="product__photo">
        <div class="photo-container">
          <div class="photo-main">
            <img
              src="../../../assets/iPhone.svg"
              alt="phone image 1"
              class="image-primary animate"
            />
            <img
              src="../../../assets/iPhone.svg"
              alt="phone image 2"
              class="image-secondary"
            />
            <img
              src="../../../assets/iPhone.svg"
              alt="phone image 3"
              class="image-tertiary animate"
            />
          </div>
        </div>
      </div>
      <div class="h-full w-full -ml-10 px-2">
        <div class="title">
          <h2>{{ project.title }}</h2>
          <span>{{ project.subtitle }}</span>
        </div>
        <div class="pt-4">
          <p>
            {{ project.body }}
          </p>
        </div>
        <div class="">
          <div class="flex gap-1 w-full flex-wrap pt-4">
            <div
              *ngFor="let tag of project.tags; let i = index"
              class="bg-transparent w-fit px-3 py-2 rounded-default border-secondary border-2 border-solid"
            >
              <span class="font-normal text-secondary py-0">{{ tag }}</span>
            </div>
          </div>
        </div>

        <div class="w-fit pt-20">
          <app-ej-button [text]="project.btnText"></app-ej-button>
        </div>
      </div>
    </section>
  </div>
</div>
