<div class="w-full relative overflow-x-scroll scrollbar-hide -mt-[2em]">
  <a
    class="sticky top-[50%] z-10 cursor-pointer carousel__prev block"
    (click)="scrollToSection(-1)"
  >
  </a>
  <a
    class="sticky top-[50%] z-10 left-[90%] cursor-pointer carousel__next block"
    (click)="scrollToSection(1)"
  >
  </a>
  <div class="w-[400vw] flex flex-row">
    <div
      class="w-full"
      *ngFor="let project of projects; let i = index"
      [id]="'projectContainer' + i"
    >
      <div
        class="w-[65vw] max-w-[1400px] justify-center items-center mx-auto pb-12"
      >
        <section class="product">
          <div class="product__photo">
            <div class="photo-container">
              <div class="photo-main" [id]="'photoContainer' + i">
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 1"
                  class="image-primary"
                  appInViewport
                />
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 2"
                  class="image-secondary"
                  appInViewport
                />
                <img
                  src="../../../assets/iPhone.svg"
                  alt="phone image 3"
                  class="image-tertiary"
                  appInViewport
                />
              </div>
            </div>
          </div>
          <div class="h-full w-full px-2 flex flex-col justify-between">
            <div class="title h-[30%]">
              <h3 class="custom">
                <span>{{ project.title }}</span>
              </h3>
              <h4 class="text-[30px] font-extrabold">{{ project.subtitle }}</h4>
            </div>
            <div class="h-[30%]">
              <p>
                {{ project.body }}
              </p>
            </div>
            <div class="">
              <div class="flex gap-1 w-full flex-wrap pt-4">
                <div
                  *ngFor="let tag of project.tags; let i = index"
                  class="bg-transparent w-fit px-3 py-2 rounded-default border-secondary border-2 border-solid"
                >
                  <span class="font-bold text-secondary py-0">{{ tag }}</span>
                </div>
              </div>
            </div>

            <div class="w-fit flex relative bottom-0 justify-end items-end">
              <app-ej-button [text]="project.btnText"></app-ej-button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
