<div
  id="body"
  class="h-auto w-full bg-primaryLight dark:bg-primary"
  [ngClass]="
    isDarkMode
      ? 'bg-primaryDark text-primaryText-dark'
      : 'bg-primaryLight text-primaryText-light'
  "
>
  <app-header></app-header>
  <app-mobile-header></app-mobile-header>
  <app-hero
    #hero
    id="hero"
    (toggleColorModeClick)="toggleColorMode()"
  ></app-hero>

  <div class="w-full h-auto bg-primaryLight dark:bg-primary">
    <app-scroll-down></app-scroll-down>
    <div
      class="bg-primaryLight dark:bg-primary relative z-30 pt-20"
      #history
      id="about-erik"
    >
      <app-about-erik></app-about-erik>
    </div>
    <div
      class="bg-primaryLight dark:bg-primary relative z-30 pt-20"
      #history
      id="history"
    >
      <h2 class="custom m-0 text-primaryTextLight dark:text-primaryTextDark">
        Min Erfarenhet
      </h2>

      <app-history></app-history>
    </div>

    <div #education id="education">
      <h2
        class="custom m-0 pt-20 text-primaryTextLight dark:text-primaryTextDark"
      >
        Min Utbildning
      </h2>

      <app-achievements></app-achievements>
    </div>
    <div class="hidden xl:block" #sideprojects>
      <h2
        class="custom m-0 pt-20 text-primaryTextLight dark:text-primaryTextDark"
      >
        Mina sidoprojekt
      </h2>
      <app-projects></app-projects>
    </div>
    <div class="block xl:hidden" id="sideprojects">
      <h2
        class="custom m-0 pt-20 text-primaryTextLight dark:text-primaryTextDark"
      >
        Mina sidoprojekt
      </h2>
      <app-projects-mobile></app-projects-mobile>
    </div>
    <div #contact id="contact">
      <h2
        class="custom m-0 pt-20 text-primaryTextLight dark:text-primaryTextDark"
      >
        Kontakta mig
      </h2>

      <app-contact></app-contact>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
  <label class="day-night">
    <input type="checkbox" checked />
    <div></div>
  </label>
</div>
