<div
  id="body"
  class="h-auto w-full"
  [ngClass]="
    isDarkMode
      ? 'bg-primaryDark text-primaryText-dark'
      : 'bg-primaryLight text-primaryText-light'
  "
>
  <app-header></app-header>
  <app-hero (toggleColorModeClick)="toggleColorMode()"></app-hero>

  <div class="w-full h-auto bg-primary">
    <app-scroll-down></app-scroll-down>
    <div class="bg-primary relative z-30">
      <h2 class="custom m-0">Min historia</h2>

      <app-history></app-history>
    </div>

    <div>
      <h2 class="custom m-0">Min Utbildning</h2>

      <app-achievements></app-achievements>
    </div>
    <div>
      <h2 class="custom m-0">Mina sidoprojekt</h2>

      <app-projects></app-projects>
    </div>
    <div>
      <h2 class="custom m-0">Kontakta mig</h2>

      <app-contact></app-contact>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
