@import url("https://fonts.googleapis.com/css?family=Niramit:300,300i,700");

// reset some browser default styles
* {
  margin: 0;
  box-sizing: border-box;
}

// colors
$primary: theme("colors.secondary");
$secondary: theme("colors.secondary");
$info: theme("colors.secondary");
$success: theme("colors.secondary");
$warning: theme("colors.secondary");
$danger: theme("colors.secondary");

// timeline variables
$body-bg: theme("colors.primary");
$timeline-before-bg: theme("colors.tertiary");
$timeline-body-bg: theme("colors.tertiary");

$timeline-body-round: theme("borderRadius.default");
$timeline-body-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2),
  0 0 1rem rgba(0, 0, 0, 0.2);

body {
  font-family: "K2D", sans-serif;
  background: $body-bg;
  width: 100vw;
  top: 0;
  letter-spacing: 1px;
}

// page container
.container {
  max-width: 50vw;
  margin: auto;
  @media screen and (max-width: 768px) {
    max-width: 92vw;
  }
}

// typography
p.bodyText {
  font-weight: 300;
  line-height: 1.5;
}

// timeline style
.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;
  @media screen and (max-width: 1024px) {
    padding-left: 1rem;
    margin: 0 0 0 12px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    opacity: 0.6;
    background: theme("colors.secondary");

    box-shadow: $timeline-body-shadow;
  }

  .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;

    .timeline-icon {
      position: absolute;
      left: -95px;
      top: 0px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      text-align: center;
      font-size: 2rem;
      background: $secondary;
      @media screen and (max-width: 1024px) {
        height: 48px;
        width: 48px;
        left: -40px;
      }

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .timeline-body {
      // background: $timeline-body-bg;
      border-radius: $timeline-body-round;
      padding: 20px 20px 15px;
      box-shadow: $timeline-body-shadow;

      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 10%;
      //   width: 60%;
      //   height: 100%;
      //   background: linear-gradient(
      //     to left,
      //     theme("colors.primary"),
      //     transparent
      //   );
      //   transform: skewX(45deg) translate(0);
      //   transition: 0.5s;
      //   filter: blur(0px);
      // }

      .timeline-title {
        margin-bottom: 1.4rem;

        .badge {
          background: $secondary;
          padding: 4px 8px;
          border-radius: 3px;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .timeline-subtitle {
        font-weight: 300;
        font-style: italic;
        opacity: 0.4;
        margin-top: 16px;
        font-size: 11px;
      }
      .timeline-show-more {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        font-style: normal;
        opacity: 0.8;
        font-size: 14px;
        padding: 4px 20px 4px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: theme("borderRadius.default");
      }
      .timeline-expand {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        font-style: normal;
        opacity: 0.8;
        font-size: 14px;
        padding: 4px 20px 4px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: theme("borderRadius.default");
      }
    }

    .timeline-subitem-body {
      border-radius: $timeline-body-round;
      padding: 20px 20px 15px;
      box-shadow: $timeline-body-shadow;
    }

    // Primary Timeline
    &.primary {
      .badge,
      .timeline-icon {
        background: $primary !important;
      }
    }

    // Info Timeline
    &.info {
      .badge,
      .timeline-icon {
        background: $info !important;
      }
    }

    // Success Timeline
    &.success {
      .badge,
      .timeline-icon {
        background: $success !important;
      }
    }

    // Warning Timeline
    &.warning {
      .badge,
      .timeline-icon {
        background: $warning !important;
      }
    }

    // Dnager Timeline
    &.danger {
      .badge,
      .timeline-icon {
        background: $danger !important;
      }
    }
  }
}

.timeline-infocard {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
  width: 0;

  &.expand {
    width: 25%; /* Set the desired final width */
  }

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}
.hidden-timeline {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, theme("colors.primary"), #33333377);
    transition: 0.5s;
  }
}

.infocard-body {
  background: theme("colors.tertiary");
  border-radius: $timeline-body-round;

  margin-left: 40px;
  height: auto;
  box-shadow: $timeline-body-shadow;
}
.infocard-content {
  opacity: 0;
  padding: 20px 20px 15px;
  animation: fadeIn 0.5s ease-in-out 1s forwards;

  &.fade-in {
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  }

  &.fade-out {
    animation: fadeOut 0.25s ease-in-out backwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.timeline-infocard-mobile {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  width: full;
  height: 0;

  &.expand {
    height: 450px;
  }

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}

.infocard-body-mobile {
  background: theme("colors.tertiary");
  border-radius: $timeline-body-round;

  margin-top: 40px;
  height: 450px;
  box-shadow: $timeline-body-shadow;
}
.infocard-content-mobile {
  opacity: 0;
  padding: 20px 20px 15px;
  animation: fadeIn 0.5s ease-in-out 1s forwards;

  &.fade-in {
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  }

  &.fade-out {
    animation: fadeOut 0.25s ease-in-out backwards;
  }
}
h5 {
  font-size: 20px;
  color: #fefefe;

  span {
    background-image: linear-gradient(
      transparent calc(85% - 1px),
      darken(#ff1f71, 15%) 5px
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
    padding-left: 2px;
    padding-right: 2px;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}
.timeline-expand {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  border: 4px solid theme("colors.secondary");
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: theme("borderRadius.default");
}
