<div
  class="w-screen flex flex-row h-auto bg-primary relative z-30 justify-center"
>
  <div class="w-auto flex">
    <div class="container">
      <div class="timeline">
        <div
          *ngFor="let item of timeLineItems; let i = index"
          class="timeline-container primary"
        >
          <div class="timeline-icon">
            <img
              class="bg-cover bg-no-repeat mx-auto w-auto h-16 flex rounded-full"
              [src]="'../../../assets/' + item.image"
              alt="Card Image"
            />
          </div>
          <div class="timeline-body">
            <div class="flex-row flex justify-between w-full">
              <h4 class="text-base flex">
                <span class="text-secondaryText">{{ item.title }}</span>
              </h4>
              <h4 class="text-base flex">
                <span class="text-secondaryText">{{ item.timeLine }}</span>
              </h4>
            </div>
            <h4 class="text-xl py-2">
              <span class="text-secondaryText">{{ item.role }}</span>
            </h4>

            <p class="bodyText">
              {{ item.body }}
            </p>
            <div class="flex gap-1 w-full flex-wrap py-2 max-w-[60%]">
              <div
                *ngFor="let tag of item.tags; let i = index"
                class="bg-transparent w-fit px-3 py-1 rounded-default border-secondary border-2 border-solid"
              >
                <p class="font-normal text-secondary">{{ tag }}</p>
              </div>
            </div>
            <div class="flex flex-row justify-between">
              <p class="bodyText timeline-subtitle">{{ item.subtitle }}</p>
              <h5
                class="timeline-show-more cursor-pointer"
                [@textAnimation]="
                  selectedIndex === i ? 'expanded' : 'collapsed'
                "
                (click)="setSelectedIndex(i)"
              >
                <span *ngIf="selectedIndex !== i">Visa mer</span>
                <span *ngIf="selectedIndex === i">Dölj</span>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="timeline-infocard h-[70vh] pt-[50px] sticky top-12"
    *ngFor="let card of infoCards; let i = index"
    [ngClass]="{
      expand: selectedIndex === i,
      'fade-in': selectedIndex === i,
      'fade-out': selectedIndex !== i
    }"
  >
    <div class="infocard-body">
      <div
        class="infocard-content max-h-[500px]"
        [ngClass]="{
          'fade-in': selectedIndex === i,
          'fade-out': selectedIndex !== i
        }"
      >
        <div class="w-full h-full flex-col flex items-center">
          <div
            class="h-20 flex w-full bg-primary rounded-large items-center justify-center"
          >
            <img
              class="bg-cover bg-no-repeat mx-auto w-auto h-16 flex rounded-large"
              [src]="'../../../assets/' + card.image"
              alt="Card Image"
            />
          </div>
        </div>
        <div class="w-full pt-4">
          <h3 class="whitespace-nowrap text-secondaryText">
            {{ card.title }}
          </h3>
        </div>
        <div class="w-full">
          <h3 class="whitespace-nowrap text-sm text-secondaryText py-2">
            {{ card.subtitle }}
          </h3>
        </div>
        <div class="w-full">
          <p class="bodyText">
            {{ card.body }}
          </p>
        </div>
        <div class="w-full pt-4" *ngIf="card.projects.length > 0">
          <h3 class="text-secondaryText py-2">Projekt</h3>
          <div
            *ngFor="let project of card.projects; let i = index"
            class="w-full h-16"
          >
            <h3 class="text-sm text-secondaryText">{{ project.title }}</h3>
            <a
              class="text-sm text-blue-500"
              [href]="project.url"
              target="_blank"
              rel="noopener"
              >{{ project.url }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
